* {
  font-family: "Courier New", Courier, monospace;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.navbar h1 {
  font-size: 200%;
  font-weight: bold;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-item {
  padding: 0% 2%;
}
