/* Setting global font */
* {
  font-family: "Courier New", Courier, monospace;
}

/* Makes Scroll behavior smooth */
html {
  scroll-behavior: smooth;
}

/* Created nav-bar flex box, seperating name and links, align text to center heigh within box */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(66, 66, 68);
  color: rgb(110, 208, 202);
  padding: 20px;
}
/* adjusting size of H1 */
.navbar h1 {
  font-size: 200%;
  font-weight: bold;
  background-color: rgb(110, 208, 202);
  color: rgb(66, 66, 68);
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-color: rgb(110, 208, 202);
}

/* Makes links spaced out, in a row opposed to stack, and seperates content */
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: end;
  white-space: nowrap;
}

/* Thickend font and matches folor */
.nav-links a {
  color: rgb(110, 208, 202);
  font-size: x-large;
  font-weight: 800;
  border-bottom: 5%;
  border-bottom-style: solid;
  border-color: rgb(110, 208, 202);
  text-decoration: none;
}
/* Adds padding between items */
.nav-item {
  padding: 0% 3%;
}
.banner {
  position: relative;
  height: 20%;
}
.banner h1 {
  position: absolute;
  top: 70%;
  left: 80%;
  font-size: x-large;
  text-align: end;
  justify-content: end;
  color: rgb(110, 208, 202);
}
#profile-pic {
  position: absolute;
  left: 5%;
  size: 20%;
  height: 100px;
  width: 100px;
}
.banner img {
  width: 100%;
  height: 100px;
}
/* Trying to align main section below */
.main-section {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  padding: 2% 5%;
}
.main-section > h2 {
  color: rgb(66, 66, 68);
  padding: 5% 15% 5% 5%;
  border-right: solid rgb(110, 208, 202) 8px;
  max-width: 12%;
  margin-right: 4%;
  font-size: 30px;
}

/* Center about me text to H1 Elemetned */

#About > p {
  display: flex;
  align-content: center;
  align-items: center;
}
#work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2% 0%;
}

.Project {
  border: solid rgb(114, 193, 194) 2px;
  position: relative;
}

.Project img {
  width: 300px;
  height: 200px;
  position: relative;
  opacity: 0.7;
}
.Project img:hover {
  opacity: 1;
}

#Top-image {
  width: 600px;
}

.project-desc {
  background-color: rgb(186, 229, 229);
  max-width: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#Contact > address {
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* Targets anchor tags in Contact to space them evenly and provide adequate padding */
#Contact a {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0% 30%;
}

/* Media Query for Screens to change most items to Colums and switch border to bottom for divisions */
@media screen and (max-width: 700px) {
  .nav-links,
  .main-section,
  #Contact > address,
  #Contact a {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .main-section > h2 {
    border-right: none;
    border-bottom: solid rgb(110, 208, 202) 8px;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  #Top-image {
    width: 300px;
  }
}

@media screen and (max-width: 700px) {
  .banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: x-large;
    text-align: end;
    justify-content: end;
    color: rgb(110, 208, 202);
  }
}
